* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  text-align: center;
  margin: 32px 0 0 0;
  background: yellow;
  color: #11011e;
  font-weight: 900;
  padding: 8px 0;
}

body {
  background-color: #11011e;
  color: white;
  font-family: "Raleway", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  background-image: url(images/elipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 0 90px; */
}

.heading-1 {
  text-align: center;
  margin: 50px auto 0px;
}

.heading-2 {
  text-align: center;
  font-size: 24px;

  margin: 24px auto;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 000;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
